# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Dependency directories (remove the comment below to include it)
# vendor/
dist
runtime
logs

config/main.conf
config/fcm.conf
config/semolis-8b35e.json
scripts/publish_dev.sh
scripts/publish_prod.sh